<div class="row marge center">
  <div class="col-sm-6 example-card">
    <div class="card">
      <h5 class="card-header text-center">Groupe A</h5>
      <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
              <div>
                <span class="flag-icon flag-icon-ru flag-icon-squared "></span>
                <p>Russie</p>
              </div>
            </div>
            <div class="col-sm-2">
              <input type="number" />
            </div>
            <div class="col-sm-2 center">
              <p>-</p>
            </div>
            <div class="col-sm-2">
              <input type="number" />
            </div>
            <div class="col-sm-2">
              <div>
                <span class="flag-icon flag-icon-sa flag-icon-squared "></span>
                <p>Arabie Saoudite</p>
              </div>
            </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="col-sm-6 example-card">
    <div class="card">
      <h5 class="card-header text-center">Groupe A</h5>
      <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
              <div>
                <span class="flag-icon flag-icon-eg flag-icon-squared "></span>
                <p>Égypte</p>
              </div>
            </div>
            <div class="col-sm-2">
              <input type="number" />
            </div>
            <div class="col-sm-2 center">
              <p>-</p>
            </div>
            <div class="col-sm-2">
              <input type="number" />
            </div>
            <div class="col-sm-2">
              <div>
                <span class="flag-icon flag-icon-uy flag-icon-squared "></span>
                <p>Uruguay</p>
              </div>
            </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="col-sm-6 example-card">
    <div class="card">
      <h5 class="card-header text-center">Groupe B</h5>
      <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
              <div>
                <span class="flag-icon flag-icon-ma flag-icon-squared "></span>
                <p>Maroc</p>
              </div>
            </div>
            <div class="col-sm-2">
              <input type="number" />
            </div>
            <div class="col-sm-2 center">
              <p>-</p>
            </div>
            <div class="col-sm-2">
              <input type="number" />
            </div>
            <div class="col-sm-2">
              <div>
                <span class="flag-icon flag-icon-ir flag-icon-squared "></span>
                <p>Iran</p>
              </div>
            </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="col-sm-6 example-card">
    <div class="card">
      <h5 class="card-header text-center">Groupe B</h5>
      <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
              <div>
                <span class="flag-icon flag-icon-pt flag-icon-squared "></span>
                <p>Portugal</p>
              </div>
            </div>
            <div class="col-sm-2">
              <input type="number" />
            </div>
            <div class="col-sm-2 center">
              <p>-</p>
            </div>
            <div class="col-sm-2">
              <input type="number" />
            </div>
            <div class="col-sm-2">
              <div>
                <span class="flag-icon flag-icon-es flag-icon-squared "></span>
                <p>Espagne</p>
              </div>
            </div>
        </div>      
      </div>
    </div>
  </div>
</div>
