<mat-card>
  <mat-card-content>
    <h3 class="center">Réinitialiser son mots de passe</h3>
    <br/>
    <form [formGroup]="form" (ngSubmit)="resetPassword()" class="form">
      <div class="input-group mb-3 col-sm-12">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Pseudo</span>
        </div>
        <input type="text" id="pseudo" name="pseudo" formControlName="pseudo" class="form-control" placeholder="Pseudo" required />
      </div> 

      <div *ngIf="form.invalid" class="alert alert-danger col-sm-12">
          Le pseudo est obligatoire !
      </div>
  
      <div class="col-sm-12">
          <button class="btn btn-primary" type="submit">Envoyer</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>