.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-ar {
  background-image: url(../flags/4x3/ar.svg);
}
.flag-icon-ar.flag-icon-squared {
  background-image: url(../flags/1x1/ar.svg);
}
.flag-icon-be {
  background-image: url(../flags/4x3/be.svg);
}
.flag-icon-be.flag-icon-squared {
  background-image: url(../flags/1x1/be.svg);
}
.flag-icon-br {
  background-image: url(../flags/4x3/br.svg);
}
.flag-icon-br.flag-icon-squared {
  background-image: url(../flags/1x1/br.svg);
}
.flag-icon-ch {
  background-image: url(../flags/4x3/ch.svg);
}
.flag-icon-ch.flag-icon-squared {
  background-image: url(../flags/1x1/ch.svg);
}
.flag-icon-co {
  background-image: url(../flags/4x3/co.svg);
}
.flag-icon-co.flag-icon-squared {
  background-image: url(../flags/1x1/co.svg);
}
.flag-icon-de {
  background-image: url(../flags/4x3/de.svg);
}
.flag-icon-de.flag-icon-squared {
  background-image: url(../flags/1x1/de.svg);
}
.flag-icon-dk {
  background-image: url(../flags/4x3/dk.svg);
}
.flag-icon-dk.flag-icon-squared {
  background-image: url(../flags/1x1/dk.svg);
}
.flag-icon-es {
  background-image: url(../flags/4x3/es.svg);
}
.flag-icon-es.flag-icon-squared {
  background-image: url(../flags/1x1/es.svg);
}
.flag-icon-fr {
  background-image: url(../flags/4x3/fr.svg);
}
.flag-icon-fr.flag-icon-squared {
  background-image: url(../flags/1x1/fr.svg);
}
.flag-icon-gb-eng {
  background-image: url(../flags/4x3/gb-eng.svg);
}
.flag-icon-gb-eng.flag-icon-squared {
  background-image: url(../flags/1x1/gb-eng.svg);
}
.flag-icon-hr {
  background-image: url(../flags/4x3/hr.svg);
}
.flag-icon-hr.flag-icon-squared {
  background-image: url(../flags/1x1/hr.svg);
}
.flag-icon-jp {
  background-image: url(../flags/4x3/jp.svg);
}
.flag-icon-jp.flag-icon-squared {
  background-image: url(../flags/1x1/jp.svg);
}
.flag-icon-mx {
  background-image: url(../flags/4x3/mx.svg);
}
.flag-icon-mx.flag-icon-squared {
  background-image: url(../flags/1x1/mx.svg);
}
.flag-icon-pt {
  background-image: url(../flags/4x3/pt.svg);
}
.flag-icon-pt.flag-icon-squared {
  background-image: url(../flags/1x1/pt.svg);
}
.flag-icon-rs {
  background-image: url(../flags/4x3/rs.svg);
}
.flag-icon-rs.flag-icon-squared {
  background-image: url(../flags/1x1/rs.svg);
}
.flag-icon-ru {
  background-image: url(../flags/4x3/ru.svg);
}
.flag-icon-ru.flag-icon-squared {
  background-image: url(../flags/1x1/ru.svg);
}
.flag-icon-se {
  background-image: url(../flags/4x3/se.svg);
}
.flag-icon-se.flag-icon-squared {
  background-image: url(../flags/1x1/se.svg);
}
.flag-icon-sn {
  background-image: url(../flags/4x3/sn.svg);
}
.flag-icon-sn.flag-icon-squared {
  background-image: url(../flags/1x1/sn.svg);
}
.flag-icon-uy {
  background-image: url(../flags/4x3/uy.svg);
}
.flag-icon-uy.flag-icon-squared {
  background-image: url(../flags/1x1/uy.svg);
}

/* Ligue 1 */

.flag-icon-lyon {
  background-image: url(../logo/lyon.svg);
}
.flag-icon-lyon.flag-icon-squared {
  background-image: url(../logo/lyon.svg);
}

.flag-icon-angers {
  background-image: url(../logo/angers.svg);
}
.flag-icon-angers.flag-icon-squared {
  background-image: url(../logo/angers.svg);
}

.flag-icon-dijon {
  background-image: url(../logo/dijon.svg);
}
.flag-icon-dijon.flag-icon-squared {
  background-image: url(../logo/dijon.svg);
}

.flag-icon-metz {
  background-image: url(../logo/metz.svg);
}
.flag-icon-metz.flag-icon-squared {
  background-image: url(../logo/metz.svg);
}

.flag-icon-bordeaux {
  background-image: url(../logo/bordeaux.svg);
}
.flag-icon-bordeaux.flag-icon-squared {
  background-image: url(../logo/bordeaux.svg);
}

.flag-icon-nantes {
  background-image: url(../logo/nantes.svg);
}
.flag-icon-nantes.flag-icon-squared {
  background-image: url(../logo/nantes.svg);
}

.flag-icon-strasbourg {
  background-image: url(../logo/strasbourg.svg);
}
.flag-icon-strasbourg.flag-icon-squared {
  background-image: url(../logo/strasbourg.svg);
}

.flag-icon-marseille {
  background-image: url(../logo/marseille.svg);
}
.flag-icon-marseille.flag-icon-squared {
  background-image: url(../logo/marseille.svg);
}

.flag-icon-amiens {
  background-image: url(../logo/amiens.svg);
}
.flag-icon-amiens.flag-icon-squared {
  background-image: url(../logo/amiens.svg);
}

.flag-icon-saint-etienne {
  background-image: url(../logo/saint-etienne.svg);
}
.flag-icon-saint-etienne.flag-icon-squared {
  background-image: url(../logo/saint-etienne.svg);
}

.flag-icon-montpellier {
  background-image: url(../logo/montpellier.svg);
}
.flag-icon-montpellier.flag-icon-squared {
  background-image: url(../logo/montpellier.svg);
}

.flag-icon-lille {
  background-image: url(../logo/lille.svg);
}
.flag-icon-lille.flag-icon-squared {
  background-image: url(../logo/lille.svg);
}

.flag-icon-toulouse {
  background-image: url(../logo/toulouse.svg);
}
.flag-icon-toulouse.flag-icon-squared {
  background-image: url(../logo/toulouse.svg);
}

.flag-icon-caen {
  background-image: url(../logo/caen.svg);
}
.flag-icon-caen.flag-icon-squared {
  background-image: url(../logo/caen.svg);
}

.flag-icon-paris {
  background-image: url(../logo/paris.svg);
}
.flag-icon-paris.flag-icon-squared {
  background-image: url(../logo/paris.svg);
}

.flag-icon-troyes {
  background-image: url(../logo/troyes.svg);
}
.flag-icon-troyes.flag-icon-squared {
  background-image: url(../logo/troyes.svg);
}

.flag-icon-monaco {
  background-image: url(../logo/monaco.svg);
}
.flag-icon-monaco.flag-icon-squared {
  background-image: url(../logo/monaco.svg);
}

.flag-icon-guingamp {
  background-image: url(../logo/guingamp.svg);
}
.flag-icon-guingamp.flag-icon-squared {
  background-image: url(../logo/guingamp.svg);
}

.flag-icon-rennes {
  background-image: url(../logo/rennes.svg);
}
.flag-icon-rennes.flag-icon-squared {
  background-image: url(../logo/rennes.svg);
}

.flag-icon-nice {
  background-image: url(../logo/nice.svg);
}
.flag-icon-nice.flag-icon-squared {
  background-image: url(../logo/nice.svg);
}

.flag-icon-nimes {
  background-image: url(../logo/nimes.svg);
}
.flag-icon-nimes.flag-icon-squared {
  background-image: url(../logo/nimes.svg);
}

.flag-icon-reims {
  background-image: url(../logo/reims.svg);
}
.flag-icon-reims.flag-icon-squared {
  background-image: url(../logo/reims.svg);
}