<div style="text-align:center">
  <h1>
    Journée 12
  </h1>
  <br/>
  <form >
    <div class="col-sm-12 container" *ngFor="let game of games">
      <div class="left">
        <h3>{{game.dom}} ({{game.rankingDom}})</h3>
        <p>{{game.resultAwayTeamJ5}} {{game.resultAwayTeamJ4}} {{game.resultAwayTeamJ3}} {{game.resultAwayTeamJ2}} {{game.resultAwayTeamJ1}}</p>
      </div>

      <div class="center">
        <div class="form-group">
          <div data-toggle="buttons">
            <label class="btn btn-primary btn-circle btn-lg active"><input type="radio" name="m{{game.id}}" value="1" checked>1</label>
            <label class="btn btn-primary btn-circle btn-lg"><input type="radio" name="m{{game.id}}" value="N">N</label>
            <label class="btn btn-primary btn-circle btn-lg"><input type="radio" name="m{{game.id}}" value="2">2</label>
          </div>
        </div>
      </div>

      <div class="right">
        <h3>{{game.ext}} ({{game.rankingExt}})</h3>
        <p>{{game.resultAwayTeamJ5}} {{game.resultAwayTeamJ4}} {{game.resultAwayTeamJ3}} {{game.resultAwayTeamJ2}} {{game.resultAwayTeamJ1}}</p>
      </div>
    </div>

    <button class="btn btn-primary"  type="submit">Valider</button>
  </form>
</div>

