
<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="btnPronosClick()">
            <mat-icon svgIcon="results"></mat-icon>
            <span>Pronos</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="participations"> 
            <mat-icon svgIcon="list"></mat-icon>
            <span>Participations</span>
        </button>
        <button mat-menu-item (click)="btnStatsClick()">
            <mat-icon svgIcon="stats"></mat-icon>
            <span>Stats</span>
        </button>
        <button mat-menu-item (click)="btnInfosClick()">
            <mat-icon>info</mat-icon>
            <span>Infos</span>
        </button>
    </mat-menu>
    <mat-menu #participations="matMenu">
        <button mat-menu-item (click)="btnParticipationsClick()">
            <mat-icon svgIcon="list"></mat-icon>
            <span>Actuel</span>
        </button>
        <button mat-menu-item (click)="btnPreviousParticipationsClick()">
            <mat-icon svgIcon="list"></mat-icon>
            <span>Précédente</span>
        </button>
      </mat-menu>

    <span class="spacer"></span>
    <span>Prono DV</span>
    <span class="spacer"></span>
    <mat-icon svgIcon="logodv" class="icon"></mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>
<!--<app-prono-form></app-prono-form>-->
